‘Whoever  dies  and  did  not perform  the  pilgrimage,  which  is  the  proof  of  Islam,  with  nothing having prevented him from it—being needy or ill—such that he cannot endure  the  pilgrimage,  or  the  Sultan  (i.e.,  the  government)  prevents him, then he dies as a Jew or a Christian.’