{% extends 'mensameet/base.html' %}

<!-- Necessary for the crispy form-->
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="col-md-5 mx-auto d-flex justify-content-center">
    <div class="shadow login-form form">
      <div class="icon"></div>
      <div class="title text-center">MensaMeet</div>

      <div class="form-group">
        <br>
        <p class="text-center">Enter your email address and we will send you a link to reset your password.  </p>
      </div>

      <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy}}
        </fieldset>

        <div class="form-group col-md-5 mx-auto d-flex">
          <form action="{% url 'sendemail' %}">
              <button type='submit' class="btn btn-custom btn-dark edit">Submit</button>
          </form>
        </div>
      </form>


    </div>
  </div>
</div>
{% endblock %}