{% extends 'mensameet/base.html' %}

{% block content %}
  <div class = " card border-light rounded mb-3">
    <div class="card-body">
      <div class="content-section">
        <h3>Forgot password</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <form action="{% url 'sendemail' %}">
              <button type='submit' class="btn btn-custom btn-dark edit">Submit</button>
          </form>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
