{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>MensaMeet</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="{% static 'mensameet/main.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    </head>
    <body>



        {% block navigation %}{% endblock %}

        <script> $(document).ready(function() {
          //$('#global-modal').modal('show');
        });
        </script>

          <div class="modal fade" id="global-modal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class= "modal-title"> Privacy Disclaimer</h5>
                  <button type="button" class="close" style="margin-top: -16px; font-size: 28px;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class = "modal-body">
                  <p> This is a temporary test page. All user data will be deleted by August 1, 2024.
              </div>
            </div>
          </div>
        </div>


        <main role="main" class="container">

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}

        </main>

        <script src="{% static 'mensameet/main.js'%}"></script>
        <script type="text/javascript">
            $('.date').datepicker({autoclose: true});
        </script>

    </body>

</html>
