{% extends 'mensameet/base_with_navigation.html' %}


{% block content %}

<div class="form-group row filter-sort-buttons">
	<button class="collapsible collaps">Filter <i class="fa fa-filter"></i></button>
	<button class="collapsible">Sort <i class="fa fa-sort"></i></button>
</div>

<div id ="allFilter" class="content">
	<table class="table">
		<tr class="filters">
			<div class="row">
				<div id="topics-filter-div" class="form-group">
					<label for="topics-filter">Topics</label><br>
					<select id="topics-filter" data-width="400"  class="selectpicker" multiple data-live-search="true" >
						<option>Architecture</option>
						<option>Art</option>
						<option>Astrology</option>
						<option>Astronomy</option>
						<option>Books</option>
						<option>Business</option>
						<option>Cars</option>
						<option>Culture</option>
						<option>Computer Science</option>
						<option>Dancing</option>
						<option>Design</option>
						<option>Education</option>
						<option>Fashion</option>
						<option>Feminism</option>
						<option>Finance</option>
						<option>Fitness</option>
						<option>Food</option>
						<option>Future</option>
						<option>Gaming</option>
						<option>History</option>
						<option>Ideas</option>
						<option>Law</option>
						<option>Life</option>
						<option>LGBTQ</option>
						<option>Movies</option>
						<option>Music</option>
						<option>Nature</option>
						<option>News</option>
						<option>Parenting</option>
						<option>Philosophy</option>
						<option>Photography</option>
						<option>Politics</option>
						<option>Psychologie</option>
						<option>Relationships</option>
						<option>Religion</option>
						<option>Science</option>
						<option>Sex</option>
						<option>Sports</option>
						<option>Technology</option>
						<option>Theatre</option>
						<option>TV and Series</option>
						<option>Vegan</option>
						<option>Writing</option>
					</select>
				</div>

				<div class="form-group">
					<label for="members-limit-filter">Members Limit</label><br>
					<select id="members-limit-filter" class="selectpicker">
						<option>Show All</option>
						<option data-filter-value="TWO">2</option>
						<option data-filter-value="THREE">3</option>
						<option data-filter-value="FOUR">4</option>
						<option data-filter-value="FIVE">5</option>
						<option data-filter-value="SIX">6</option>
					</select>
				</div>


				<div class="form-group">
					<label for="mensa-filter">Mensa</label><br>
					<select id="mensa-filter" class="selectpicker">
						<option >Show All</option>
						<option >TU Hardenbergerstrasse</option>
						<option >Mensa TU "Skyline"</option>
						<option >Veggie Mensa</option>
						<option >Mensa TU Marchstraße</option>
						<option >Mensa TU Architektur</option>
						<option >Mathe Café</option>
						<option >Personalkantine</option>
						<option >Cafeteria EN</option>
					</select>
				</div>


				<div class="form-group">
					<label for="time-filter">Time</label><br>
					<select id="time-filter" class="selectpicker">
						<option data-time-after="" data-time-before="">Show All</option>
						<option data-time-after="0000" data-time-before="1100">Before 11:00</option>
						<option data-time-after="1100" data-time-before="1200">11:00-12:00</option>
						<option data-time-after="1200" data-time-before="1300">12:00-13:00</option>
						<option data-time-after="1300" data-time-before="1400">13:00-14:00</option>
						<option data-time-after="1400" data-time-before="1500">14:00-15:00</option>
						<option data-time-after="1500" data-time-before="2400">After 15:00</option>
					</select>
				</div>

				<div class="form-group">
					<label for="date-filter">Date</label><br>
					<div class="input-group date" data-provide="datepicker" data-date-format="dd.mm.yyyy">
						<input id="date-filter" type="text" class="form-control" placeholder="Select Date">
						<button class="clear-date">Clear Date</button>
						<div class="input-group-addon">
						</div>
					</div>
				</div>


			</div>

		</tr>
	</table>
	</div>

<div id="eventsContainer" class="container meetups-container">

    {% for meetup in meetupsAll %}
		{% if meetup.cur_date|date:"d.m.Y" <  meetup.start_time|date:"d.m.Y"  %}


	<div data-members-limit="{{ meetup.members_limit }}"
		 data-topics="{% for topic in meetup.topics.all %}{{topic}} {% endfor %}"
		 data-mensa="{{meetup.mensa}}"
		 data-date="{{meetup.start_time|date:'d.m.Y'}}"
		 data-time="{{meetup.start_time|date:'H:i'}}"
		 data-author="{{meetup.author}}"
		 data-users="{% for member in meetup.members.all %}{{member}} {% endfor %}"
		 class="task-list-row">
     <section id="events" class="mb-3 d-flex flex-column shadow bg-white rounded p-3">
		 <h2>{{ meetup.title }}</h2>
		 <div class="row">

			 <div class="col-md-6">

				 <p class="about">{{ meetup.about }}</p>
				 <p class="topics">Topics: {% for topic in meetup.topics.all %} {{ topic }} |{% endfor %}</p>
				 <p class="article-content">
					 Author: <a href=""><img class="account-img" alt="profile picture" src="{{ meetup.author.profile.image.url }}"></a>

				 </p>

				 <div class="row members-row">
					 <p class="article-content list-members">Members:

						 {% for member in meetup.members.all %}
						 <a href={% url 'profile-detail' member.profile.id %}><img class="account-img {{member}}" alt="profile picture" src="{{ member.profile.image.url }}"></a>
						 {% endfor %}

					 </p>
				 </div>

			 </div>
			 <div class="col-md-6">
				 <p class="col-xs-12 date">&nbsp;<i class="fa fa-calendar-o"></i>&nbsp;{{ meetup.start_time |date:"d.m.Y"}}</p>
				 <p class="col-xs-12 time">&nbsp;<i class="fa fa-clock-o"></i>&nbsp;{{ meetup.start_time |date:"H:i"}}</p>
				 <p class="col-xs-12 mensa">&nbsp;<i class="fa fa-map-marker"></i>&nbsp;{{ meetup.mensa }}</p>
				 <div class="row">
				 <form action="{% url 'join_meetup' meetup.id  %}">&nbsp;
					 <button type='submit' class="btn btn-custom btn-info join">Join</button>
				 </form>
				 <form action="{% url 'leave_meetup' meetup.id  %}">
					 <button type='submit' class="btn btn-custom btn-dark leave">Leave</button>
				 </form>
				 </div>
			 </div>
		 </div>

     </section>
</div>
	{% endif %}
  	{% endfor %}


<a href="{% url 'meetup-create' %}" class="float">
	<div class="my-float">+</div>
</a>

</div>


{% endblock content %}

