{% extends 'mensameet/base_with_navigation.html' %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


<div class="form-group row" style="margin:20px;">
	<button class="collapsible collaps">Filter <i class="fa fa-filter"></i></button>
	<button class="collapsible">Sort <i class="fa fa-sort"></i></button>
</div>

<div id ="allFilter" class="content">
	<table class="table">
		<tr class="filters">
			<div class="row">
			<div id="topics-filter-div" class="form-group">
				<label for="topics-filter">Topics</label><br>
				<select id="topics-filter" data-width="400"  class="selectpicker" multiple data-live-search="true" >
					<option>Architecture</option>
					<option>Art</option>
					<option>Astrology</option>
					<option>Astronomy</option>
					<option>Books</option>
					<option>Business</option>
					<option>Cars</option>
					<option>Culture</option>
					<option>Computer Science</option>
					<option>Dancing</option>
					<option>Design</option>
					<option>Education</option>
					<option>Fashion</option>
					<option>Feminism</option>
					<option>Finance</option>
					<option>Fitness</option>
					<option>Food</option>
					<option>Future</option>
					<option>Gaming</option>
					<option>History</option>
					<option>Ideas</option>
					<option>Law</option>
					<option>Life</option>
					<option>LGBTQ</option>
					<option>Movies</option>
					<option>Music</option>
					<option>Nature</option>
					<option>News</option>
					<option>Parenting</option>
					<option>Philosophy</option>
					<option>Photography</option>
					<option>Politics</option>
					<option>Psychologie</option>
					<option>Relationships</option>
					<option>Religion</option>
					<option>Science</option>
					<option>Sex</option>
					<option>Sports</option>
					<option>Technology</option>
					<option>Theatre</option>
					<option>TV and Series</option>
					<option>Vegan</option>
					<option>Writing</option>
			</select>
			</div>

			<div class="form-group">
				<label for="members-limit-filter">Members Limit</label><br>
				<select id="members-limit-filter" class="selectpicker">
					<option>Show All</option>
					<option data-filter-value="TWO">2</option>
					<option data-filter-value="THREE">3</option>
					<option data-filter-value="FOUR">4</option>
					<option data-filter-value="FIVE">5</option>
					<option data-filter-value="SIX">6</option>
				</select>
			</div>


				<div class="form-group">
					<label for="mensa-filter">Mensa</label><br>
					<select id="mensa-filter" class="selectpicker">
						<option >Show All</option>
						<option >TU Hardenbergerstrasse</option>
						<option >Mensa TU "Skyline"</option>
						<option >Veggie Mensa</option>
						<option >Mensa TU Marchstraße</option>
						<option >Mensa TU Architektur</option>
						<option >Mathe Café</option>
						<option >Personalkantine</option>
						<option >Cafeteria EN</option>
					</select>
				</div>


				<div class="form-group">
					<label>Date</label><br>
					<div class="input-group date" data-provide="datepicker" data-date-format="dd. MM yyyy">
						<input id="dateSelect" type="text" class="form-control" placeholder="Select Date">
						<div class="input-group-addon">
						</div>
					</div>
				</div>


				<div class="form-group">
				<label for="selectTime">Time</label><br>
				<select class="selectpicker" id="selectTime">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>

				</div>

		</tr>
	</table>



</div>
</div>

<a href="{% url 'meetup-create' %}" class="float">
	<div class="my-float">+</div>
</a>


<style>
	.form-group {
		margin-right:20px;
		margin-left:20px;
	}

	.btn {
		margin:2px;
	}

	.collapsible {
		margin-right: 10px;
		border-radius: 10px;
		background-color: #dccebc;
		color: #353535;
		cursor: pointer;
		padding: 10px 15px 10px 15px;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
	}

	.collapsible:hover {
	 	background-color: #baaa96;
	}

	.content {
		border-radius:5px;
		margin:15px;
		padding:18px;
		display: none;
		background-color: rgba(220, 206, 188, 0.5);
	}

	.float{
		position:fixed;
		width:70px;
		height:70px;
		bottom:50px;
		right:50px;
		background-color:#999;
		color:#FFF;
		border-radius:50px;
		text-align:center;
	}

	.my-float{
		font-size: 40px;
	}

	.datepicker {
        font-family: Arial;
        font-size:15px;
        padding:10px;
        text-align: center;
      }
      .datepicker-dropdown {
        padding: 15px;
      }
      .datepicker table tr td.day:hover,
      .datepicker table tr td.focused {
        background: #909090;
        cursor: pointer;
      }
      .datepicker table tr td.old,
      .datepicker table tr td.new {
        color: #808080;
      }
      .datepicker table tr td.today {
        color: #184830;
        background-color: #FFA953;
        border-color: #FFB76F;
      }
      .datepicker table tr td,
      .datepicker table tr th {
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 4px;
      }
      .datepicker .prev:hover,
      .datepicker .next:hover,
      .datepicker tfoot tr th:hover {
        cursor: pointer;
        background: #909090;
      }

      .datepicker .active {
      background-color:#888;
      }


</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('.date').datepicker({autoclose: true});

</script>




<script>
var coll = document.getElementsByClassName("collaps");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var content = document.getElementById("allFilter");
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

<div id="eventsContainer" class="container" style="margin-top: 20px;
  overflow: hidden;">

	{% for meetup in meetupsAll %}

	<div data-members-limit="{{ meetup.members_limit }}"
		 data-topics="{% for topic in meetup.topics.all %}{{topic}} {% endfor %}"
		 data-mensa="{{meetup.mensa}}"
		 class="task-list-row">
		<section id="events" class="mb-3 d-flex flex-column shadow bg-white rounded p-3">
			<h2>{{ meetup.title }}</h2>
			<p class="article-content">{{ meetup.about }}</p>
			<span class="date-time">{{ meetup.start_time }}</span><br />
			<p class="article-content">Mensa: {{ meetup.mensa }}</p>
			<p class="article-content">Topics:
				{% for topic in meetup.topics.all %}
				{{ topic  }}
				{% endfor %}
			</p>
			<p class="article-content">Author:{{ meetup.author }}</p>
			<p class="article-content">Members:
				{% for member in meetup.members.all %}
				{{ member  }}
				{% endfor %}
			</p>
			<button class="ml-auto btn btn-success join">Join</button>
			<button class="ml-auto btn btn-danger leave">Leave</button>
		</section>
	</div>
	{% endfor %}

</div>

<script>
	var membersFilter, topicsFilter, topicsFilterArr, mensaFilter;

	function updateFilters() {
	  $('.task-list-row').hide().filter(function() {
		var
		  self = $(this),
		  result = true;

		if (membersFilter && (membersFilter != 'Show All')) {
		  result = result && membersFilter === self.data('members-limit');
		}

		if (mensaFilter && (mensaFilter != 'Show All')) {
		  result = result && mensaFilter === self.data('mensa');
		}

		if (self.data('topics') == '' && topicsFilterArr!='') {
		result = false;
		}

		if (topicsFilter && topicsFilterArr!='') {

			var tr=true;
			var i;
			for (i=0;i<topicsFilterArr.length;i++) {

				if (self.data('topics').indexOf(topicsFilterArr[i]) == -1) {
					tr = false;
					break;
				}
			}
				result = result && tr;
		}

		return result;
	  }).show();

	}

	function getValue( elem ) {
		var a ="";
		elem.each(function( index ) {
			let b = $( this ).text();
	    	a = a.concat(b);
	    	a = a.concat(",");
		});
		a = a.slice(0,-1);
		return a;
	}

	$('#topics-filter').on('change', function() {
		topicsFilter = getValue($("div.dropdown-menu.show div.inner ul li.selected"));
		topicsFilterArr = topicsFilter.split(",");
		updateFilters();
		});

	$('#members-limit-filter').on('change', function() {
	  membersFilter = $('select[id="members-limit-filter"] :selected').attr('data-filter-value');
	  updateFilters();
	});

	$('#mensa-filter').on('change', function() {
	  mensaFilter = $('select[id="mensa-filter"] :selected').val();
	  updateFilters();
	});

	$('#dateSelect').on('change', function() {
	  alert($('#dateSelect').val());
	});



</script>

{% endblock content %}