{% extends 'mensameet/base_with_navigation.html' %}

{% block content %}
	<section id="events" class="mb-3 d-flex flex-column shadow bg-white rounded p-3">
		<h2>Title</h2>
		<span class="date-time"><small>12.12.2034</small> 12:34</span><br />
		<span class="topics">topics</span><br />
		<span class="participants"><small>Participants</small></span><br />
		<button class="ml-auto btn btn-success join">Join</button>
		<button class="ml-auto btn btn-danger leave">Leave</button>
	</section>
	<section id="events" class="mb-3 d-flex flex-column shadow bg-white rounded p-3">
		<h2>Title</h2>
		<span class="date-time"><small>12.12.2034</small> 12:34</span><br />
		<span class="topics">topics</span><br />
		<span class="participants"><small>Participants</small></span><br />
		<button class="ml-auto btn btn-success join">Join</button>
		<button class="ml-auto btn btn-danger leave">Leave</button>
	</section>
{% endblock content %}