* {
    font-family: 'Quicksand', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: rgb(78, 212, 127);
    min-height: 100vh;
}

h1, h2 {
    font-family: 'Comfortaa', cursive;
}

.float-button {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: rgb(15, 123, 16);
    border-radius: 1000px;
    font-size: 50%;
    border-style: none;
    text-align: center;
}

.float-button i {
    font-size: 48px;
}

footer.float {
    /* position: fixed; */
    width: 100vw;
    bottom: 5px;
}

#impressum {
    font-size: 2em;
}

main span.head {
    font-weight: bold;
}

.mobile-button {
    display: none;
}

@media screen and (max-width: 444px) {
    .edit-button {
        display: none;
    }
    .mobile-button {
        display: initial;
    }
}

