{% extends 'mensameet/base_with_navigation.html' %}

<!-- Necessary for the crispy form-->
{% load crispy_forms_tags %}

{% block content %}
    {% for meetup in meetups %}
    <!--
    <article class="media content-section">
    <img class="rounded-circle article-img" alt="profile image" src="{{ meetup.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">{{ meetup.author }}</a>

        </div>
        <h2><a class="article-title" href="{% url 'meetup-detail' meetup.id %}">{{ meetup.title }}</a></h2>
        <p class="article-content">{{ meetup.about }}</p>
        <p class="article-content">{{ meetup.members }}</p>
    </div>
    </article>
    -->

    <section id="events" class="mb-3 d-flex flex-column shadow bg-white rounded p-3">
        <h2><a class="article-title" href="{% url 'meetup-detail' meetup.id %}">{{ meetup.title }}</a></h2>
        <span class="about">About: {{ meetup.about }} </span><br />
        <span class="date-time">Startzeit: {{ meetup.start_time|date:'d.M.Y' }} {{ meetup.start_time|date:'H:m' }}</span><br />
        <span class="topics">Themen: {% for topic in meetup.topics.all %} {{ topic }} |{% endfor %}</span><br />
        <span class="participants"><small>Mitglieder: {% for member in meetup.members.all %} {{ member }} {% endfor %}</small></span><br />
        <form action="{% url 'join_meetup' meetup.id  %}">
            <button type='submit' class="ml-auto btn btn-success join">Join</button>
        </form>
        <form action="{% url 'leave_meetup' meetup.id  %}">
            <button type='submit' class="ml-auto btn btn-danger leave">Leave</button>
        </form>
    </section>

    {% endfor %}
{% endblock content %}
