{% extends 'mensameet/base_with_navigation.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <div class="card card-style-over w-75">

            <img class="rounded-circle profile-img-over" alt="profile picture" src="{{ object.image.url }}">
            <div class="card-body">

                <div class="profile-username">
                    <h1 class="account-heading">{{ object.user }}</h1>
                </div>
                <div class="profile-about">
                    <p class="text-secondary">{{ object.about }}</p>
                </div>
                <div class="row justify-content-center profile-topics">{% for topic in object.topics.all %}
                    <div class="profile-topic">
                        {{topic}}
                    </div>
                        {% endfor %}
                </div>

            </div>
        </div>


{% endblock content %}
