{% extends 'mensameet/base_with_navigation.html' %}

<!-- Necessary for the crispy form-->
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" alt="profile picture" src="{{ object.image }}">
            <div class="media-body">
                <h2 class="account-heading">{{ object.user }}</h2>
                <p class="text-secondary">{{ object.email }}</p>
                <p class="text-secondary">{{ object.gender }}</p>
                <p class="text-secondary">{{ object.about }}</p>
                <p class="text-secondary">{{ object.topics.all }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
