{% extends 'mensameet/base.html' %}

<!-- Necessary for the crispy form-->
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
      <div class="col-md-5 mx-auto d-flex justify-content-center">
            <div class="shadow login-form form">
                  <div class="icon"></div>
                  <div class="title text-center">MensaMeet</div>

                  <form method="POST">

                     {% csrf_token %}
                     <fieldset class="form-group">

                         <div class="input-username" id="username">
                             {{form.username|as_crispy_field}}

                             <div id ="tooltip-username" class="content-tooltip form-group">
                                 <small class="text-muted">
                                     • Must be a minimum of 5 characters and a maximum 32 characters.<br>
                                     • Only letters, numbers, '-', '.', and '_' may be used.
                                 </small>
                             </div>
                         </div>

                         <div class="input-email" id="email">
                         {{form.email|as_crispy_field}}
                         </div>


                         <div class="input-password1" id="password1">
                             {{form.password1|as_crispy_field}}

                             <div id ="tooltip-password" class="content-tooltip form-group">
                                 <small class="text-muted">
                                     • Must contain at least 8 characters.<br>
                                     • Can't be entirely numeric.<br>
                                     • Can't be too similar to your other personal information.<br>
                                     • Shouldn't be a commonly used password.
                                 </small>
                             </div>
                         </div>


                         <div class="input-password2" id="password2">
                             {{form.password2|as_crispy_field}}
                             <div id ="tooltip-password2" class="content-tooltip form-group">
                                 <small class="text-muted">
                                     Enter the same password as before for confirmation.
                                 </small>
                             </div>
                         </div>

                     </fieldset>


                     <div class="form-group">
                        <button type="submit" class="btn btn-block submit-btn btn-secondary">Register</button><br>

                        <p class="text-center">Already have an account? <a href="{% url 'mensameet-login' %}" id="signup">Login here</a></p>
                     </div>
                  </form>
                
            </div>
      </div>
</div>
{% endblock content %}