{% extends 'mensameet/base.html' %}

<!-- Necessary for the crispy form-->
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
      <div class="col-md-5 mx-auto">
            <div class="shadow login-form form">
                  <div class="icon"></div>
                  <div class="title text-center">MensaMeet</div>

                  <form method="POST">

                     {% csrf_token %}
                     <fieldset class="form-group">

                         <div class="form-group">
                             <label for="username">Username*</label>
                             <input required type="text" name="username" class="form-control input-username" id="username">

                             <div id ="tooltip-username" class="content-tooltip">

                                 <small class="text-muted">
                                     • Must be a minimum of 5 characters and a maximum 32 characters.<br>
                                     • Only letters, numbers, '-', '.', and '_' may be used.
                                     </small>
                             </div>
                         </div>

                         <div class="form-group">
                             <label for="email">Email*</label>
                             <input required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  type="text"  name="email" class="form-control input-email" id="email">
                         </div>

                         <div class="form-group">
                             <label for="password">Password*</label>
                             <input required type="text"  name="password1" class="form-control input-password" id="password">

                             <div id ="tooltip-password" class="content-tooltip">
                                 <small class="text-muted">
                                     • Must contain at least 8 characters.<br>
                                     • Can't be entirely numeric.<br>
                                     • Can't be too similar to your other personal information.<br>
                                     • Shouldn't be a commonly used password.
                                 </small>
                             </div>
                         </div>

                         <div class="form-group">
                             <label for="password-confirm">Password confirmation*</label>
                             <input required type="text"  name="password2" class="form-control input-password-confirm" id="password-confirm">

                             <div id ="tooltip-password-confirm" class="content-tooltip">
                                 <small class="text-muted">
                                     Enter the same password as before for confirmation.
                                 </small>
                             </div>
                         </div>

                     </fieldset>


                     <div class="form-group">
                        <button type="submit" class="btn btn-block submit-btn btn-secondary">Register</button>
                     </div>

                     <div class="form-group">
                        <p class="text-center">Already have an account? <a href="{% url 'mensameet-login' %}" id="signup">Login here</a></p>
                     </div>
                  </form>

            </div>
      </div>
</div>
{% endblock content %}