html {
   font-size: 16px;
   line-height: 1.4;
}

body {
   background-attachment: fixed;
   background-color: antiquewhite;
}

a {
   color: #999999;
   text-decoration: none !important;
}

a:hover {
   color: gray;
   text-decoration: none !important;
}

nav {
   background-color: #fff;
   color: #000;
}

nav a {
   color: #000;
}

main {
   margin-top: 6rem;;
}

.login-form {
   padding: 2.5rem;
   background-color: #ffffff;
   border-radius: 1.875rem;
   outline: 0;
   /* @TODO: remove and make width based on bootstrap "col-" classes */
   max-width: 500px;
   min-width: 400px;
}

.submit-btn {
   border-radius: 50px;
   margin-top: 10px;
   margin-bottom: 40px;
}

.icon {
   content: url('../logo.png');
   width: 5rem;
   height: 5rem;
   border-radius: 0.625rem;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0.625rem;
}

.title {
   margin-left: auto;
   margin-right: auto;
   font-size: 2.75rem;
   font-family: Pacifico;
   color: #000;
   text-shadow: 0.12em 0.12em 0.12em #00000029;
}